@mixin line-height($font-size, $line-height: $font-size) {
    line-height: $line-height/$font-size;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;
  
    $extmods: (
      eot: "?",
      svg: "#" + str-replace($name, " ", "_")
    );
  
    $formats: (
      otf: "opentype",
      ttf: "truetype"
    );
  
    @each $ext in $exts {
      $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
      $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
      $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
  
    @font-face {
      font-family: quote($name);
      font-style: $style;
      font-weight: $weight;
      src: $src;
    }
  }


// =============================================================================
// Cover Background
// =============================================================================


  @mixin image-bg($img-uri,$background-repeat:"no-repeat", $background-size:"cover", $background-x:"center", $background-y:"center", $background-attachment:"initial") {
    background-image: url($img-uri); 
    background-repeat: unquote($background-repeat);
    background-size: unquote($background-size);  
    background-attachment: unquote($background-attachment);
    background-position: unquote($background-x) unquote($background-y);
  }