@include font-face('Proxima-Nova-Bold', '../fonts/Proxima-Nova-Bold');
@include font-face('Proxima-Nova-Reg', '../fonts/Proxima-Nova-Regular');


body {
	background-color: $white;
	overflow-x: hidden;
	font-family: $f-proxima-bold;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: $black;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}


.ico {
	display: block;
	width: 20px;
	height: 25px;

	&--white {
		svg {
			fill: $white;
		}
	}
}


.page-title {
	color: $c-brown;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 10px;
	margin: 0 0 60px 0;

	@include breakpoint(sm) {
		font-size: 100px;
		letter-spacing: 16px;
	}
}

.section-title {
	position: relative;
	text-transform: uppercase;
	font-size: 48px;
	letter-spacing: 4px;
	margin: 0 0 65px 0;
	text-align: center;

	&:after {
		content: '';
		position: absolute;
		top: calc(100% + 35px);
		left: 50%;
		transform: translateX(-50%);
		width: 45px;
		height: 4px;
		background-color: $c-brown;
	}
}

.section-subtitle {
	color: $c-grey-text;
	font-family: $f-proxima-reg;
	text-align: center;
	line-height: 25px;
	font-size: 15px;
	max-width: 550px;
	margin: 0 auto 75px auto;
}

.text {
	font-family: $f-proxima-reg;
	font-size: 14px;
}

.fade-text {
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: 0.2;
}

.darken {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background-image: linear-gradient($black-bg, $black-bg);
	}
}

.wrapper {
	position: relative;
	padding: 75px 0 0 0;
	overflow: hidden;

}

.bg-text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	max-width: 100%;
	color: $c-brown-bg;
	text-transform: uppercase;
	font-size: 200px;

	&--tl {
		transform: translate(0%, -100%);
	}

	&--tr {
		top: 0;
		left: 100%;
		// transform: translate(-100%, -50%);
		transform: translate(-100%, -100%);
	}

	&--l {
		left: -100%;
		transform: translate(50%, 50%);
	}
}


